{% extends 'core/base.html' %} {% block titulo %}App SGSST{% endblock %}
{% block contenido %} {% load static %}

<main>
  <div
    class="
      position-relative
      overflow-hidden
      p-3 p-md-5
      m-md-3
      text-center
      bg-light
      fondo
    "
  >
    <div class="col-md-5 p-lg-5 ml-5 my-5">
      <h1 class="display-4 fw-normal">{{ titulo }}</h1>
      <p class="lead fw-normal">{{ mensaje }}</p>
      {% if request.user.is_authenticated %}
        <a class="btn btn-lg btn-primary" href="{% url 'profile' %}">{{ boton }}</a>
      {% else %}
        <a class="btn btn-lg btn-primary" href="{% url 'login' %}">{{ boton }}</a>
      {% endif %}
    </div>
  </div>
</main>

<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md text-center">
      <img
        src="{% static 'media/img/ssg1H_logo.gif' %}"
        alt=""
        class="img-fluid"
      />
      <small class="d-block mb-3 text-muted">&copy; 2017–2021</small>
    </div>
    <div class="col-6 col-md">
      <h5>Features</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Cool stuff</a></li>
        <li><a class="link-secondary" href="#">Random feature</a></li>
        <li><a class="link-secondary" href="#">Team feature</a></li>
        <li><a class="link-secondary" href="#">Stuff for developers</a></li>
        <li><a class="link-secondary" href="#">Another one</a></li>
        <li><a class="link-secondary" href="#">Last time</a></li>
      </ul>
    </div>

    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Team</a></li>
        <li><a class="link-secondary" href="#">Politicas</a></li>
        <li><a class="link-secondary" href="#">Terminos y Condiciones</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li>
          <a
            class="link-secondary"
            target="_blank"
            href="https://github.com/viewEder/SG-SST-1H"
            >Repositorio</a
          >
        </li>
        <li>
          <a
            class="link-secondary"
            target="_blank"
            href="https://github.com/viewEder/SG-SST-1H/tree/eder/SG-SST-1H/0_Doc.Proyecto"
            >Documentos</a
          >
        </li>
        <li><a class="link-secondary" href="#">Government</a></li>
        <li><a class="link-secondary" href="#">Gaming</a></li>
      </ul>
    </div>
  </div>
</footer>

{% endblock %}
